<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <div style="float: left;">
        <form action="submit" method="POST">
        {% csrf_token %}
        <div class="col-md-4 col-sm-4"><label for="name">Source:</label></div>
        <input type="text" placeholder="Source Place" name="src"><br><br>
        <div class="col-md-4 col-sm-4"><label for="name">Destination:</label></div>
        <input type="text" placeholder="Destination Place" name="dest"><br><br>
        <input type="submit" name="Submit">
        </form>
    </div>
    <div style="margin-left: 170px;">
    {{map | safe}}
</div>
</div>
</body>
</html>