<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_44d1b99b05a94a9492652057d4802137 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_44d1b99b05a94a9492652057d4802137" ></div>
        
</body>
<script>    
    
            var map_44d1b99b05a94a9492652057d4802137 = L.map(
                "map_44d1b99b05a94a9492652057d4802137",
                {
                    center: [28.6164158, 77.04061469999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cc6d49f07a904c0ca764a60c6966e689 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_44d1b99b05a94a9492652057d4802137);
        
    
            var marker_acbf0ff9a92c4970a9fa16ccc3e8ed85 = L.marker(
                [28.6164158, 77.04061469999999],
                {}
            ).addTo(map_44d1b99b05a94a9492652057d4802137);
        
    
            var icon_1567e48e89534cebab1dd53f9f969a38 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_acbf0ff9a92c4970a9fa16ccc3e8ed85.setIcon(icon_1567e48e89534cebab1dd53f9f969a38);
        
    
        var popup_1a57011538ba4012b844ca5e2fa92161 = L.popup({"maxWidth": "100%"});

        
            var html_efd2dfbdf7f94def97ded09df9fa8e74 = $(`<div id="html_efd2dfbdf7f94def97ded09df9fa8e74" style="width: 100.0%; height: 100.0%;">Mansa Ram Park, Uttam Nagar, Delhi, India</div>`)[0];
            popup_1a57011538ba4012b844ca5e2fa92161.setContent(html_efd2dfbdf7f94def97ded09df9fa8e74);
        

        marker_acbf0ff9a92c4970a9fa16ccc3e8ed85.bindPopup(popup_1a57011538ba4012b844ca5e2fa92161)
        ;

        
    
    
            var marker_4d20e5eac81e4decbf2f2c1fcee12068 = L.marker(
                [28.6820444, 77.0675607],
                {}
            ).addTo(map_44d1b99b05a94a9492652057d4802137);
        
    
            var icon_214c927f7c574741828b423e425d0681 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4d20e5eac81e4decbf2f2c1fcee12068.setIcon(icon_214c927f7c574741828b423e425d0681);
        
    
        var popup_6ab75141b350488fb5e67d823c6a4d7a = L.popup({"maxWidth": "100%"});

        
            var html_8bda0e395ef24499b61cfc7e2514f357 = $(`<div id="html_8bda0e395ef24499b61cfc7e2514f357" style="width: 100.0%; height: 100.0%;">Nangloi, Delhi, India</div>`)[0];
            popup_6ab75141b350488fb5e67d823c6a4d7a.setContent(html_8bda0e395ef24499b61cfc7e2514f357);
        

        marker_4d20e5eac81e4decbf2f2c1fcee12068.bindPopup(popup_6ab75141b350488fb5e67d823c6a4d7a)
        ;

        
    
    
            var poly_line_908d90c138f040f0a2a2146d61c0d2f7 = L.polyline(
                [[28.6164158, 77.04061469999999], [28.6820444, 77.0675607]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_44d1b99b05a94a9492652057d4802137);
        
    
            var regular_polygon_marker_a75354de084f46c49040a50966932e4a = new L.RegularPolygonMarker(
                [28.6273539, 77.0451057],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": -70.19155308311893, "stroke": true, "weight": 3}
            ).addTo(map_44d1b99b05a94a9492652057d4802137);
        
    
            var regular_polygon_marker_498ac79622914d7bacaba583892858dd = new L.RegularPolygonMarker(
                [28.638292, 77.0495967],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": -70.19155308311893, "stroke": true, "weight": 3}
            ).addTo(map_44d1b99b05a94a9492652057d4802137);
        
    
            var regular_polygon_marker_1d83b47b56dd44ed8adee2da7acc1f0a = new L.RegularPolygonMarker(
                [28.649230099999997, 77.0540877],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": -70.19155308311893, "stroke": true, "weight": 3}
            ).addTo(map_44d1b99b05a94a9492652057d4802137);
        
    
            var regular_polygon_marker_ec3f2130d2c2492986194940bfc2a2ab = new L.RegularPolygonMarker(
                [28.660168199999998, 77.0585787],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": -70.19155308311893, "stroke": true, "weight": 3}
            ).addTo(map_44d1b99b05a94a9492652057d4802137);
        
    
            var regular_polygon_marker_0a227d278d9942b0b5aba95010171eb4 = new L.RegularPolygonMarker(
                [28.671106299999998, 77.0630697],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": -70.19155308311893, "stroke": true, "weight": 3}
            ).addTo(map_44d1b99b05a94a9492652057d4802137);
        
</script>