<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a65595d0ec3c4f0281cd0135a963b433 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_a65595d0ec3c4f0281cd0135a963b433" ></div>
        
</body>
<script>    
    
            var map_a65595d0ec3c4f0281cd0135a963b433 = L.map(
                "map_a65595d0ec3c4f0281cd0135a963b433",
                {
                    center: [28.6164158, 77.04061469999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d4738cdcacc542e9a1a412de3ff02f59 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a65595d0ec3c4f0281cd0135a963b433);
        
    
            var marker_dceb2c84915345ac814bca8555bd61f5 = L.marker(
                [28.6164158, 77.04061469999999],
                {}
            ).addTo(map_a65595d0ec3c4f0281cd0135a963b433);
        
    
            var icon_faa29394c105445eace1d8ef2ecdad68 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_dceb2c84915345ac814bca8555bd61f5.setIcon(icon_faa29394c105445eace1d8ef2ecdad68);
        
    
        var popup_9502a96be69544f5a846beedf7b3e3b8 = L.popup({"maxWidth": "100%"});

        
            var html_807381a722924ad2be3e8bb9fe0fe6b6 = $(`<div id="html_807381a722924ad2be3e8bb9fe0fe6b6" style="width: 100.0%; height: 100.0%;">Mansa Ram Park, Uttam Nagar, Delhi, India</div>`)[0];
            popup_9502a96be69544f5a846beedf7b3e3b8.setContent(html_807381a722924ad2be3e8bb9fe0fe6b6);
        

        marker_dceb2c84915345ac814bca8555bd61f5.bindPopup(popup_9502a96be69544f5a846beedf7b3e3b8)
        ;

        
    
    
            var marker_832ec0e5d5cb4b329dd23cbc74578be2 = L.marker(
                [28.5355161, 77.3910265],
                {}
            ).addTo(map_a65595d0ec3c4f0281cd0135a963b433);
        
    
            var icon_d8059b30224b4886a66579cd65292e38 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_832ec0e5d5cb4b329dd23cbc74578be2.setIcon(icon_d8059b30224b4886a66579cd65292e38);
        
    
        var popup_6a00677c65464ca4b12be324ab8e6402 = L.popup({"maxWidth": "100%"});

        
            var html_42ad08f44a41470d9b7356fce7aef652 = $(`<div id="html_42ad08f44a41470d9b7356fce7aef652" style="width: 100.0%; height: 100.0%;">Noida, Uttar Pradesh, India</div>`)[0];
            popup_6a00677c65464ca4b12be324ab8e6402.setContent(html_42ad08f44a41470d9b7356fce7aef652);
        

        marker_832ec0e5d5cb4b329dd23cbc74578be2.bindPopup(popup_6a00677c65464ca4b12be324ab8e6402)
        ;

        
    
    
            var poly_line_13ed24e4b2f341a683fb2a6b791aa6c7 = L.polyline(
                [[28.6164158, 77.04061469999999], [28.5355161, 77.3910265]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_a65595d0ec3c4f0281cd0135a963b433);
        
    
            var regular_polygon_marker_8f9a1635f62e4a6d8994f8112b270349 = new L.RegularPolygonMarker(
                [28.602932516666666, 77.09901666666666],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 14.645640286464513, "stroke": true, "weight": 3}
            ).addTo(map_a65595d0ec3c4f0281cd0135a963b433);
        
    
            var regular_polygon_marker_10c00f0e15834517bfaddaf284a0f7f6 = new L.RegularPolygonMarker(
                [28.589449233333333, 77.15741863333332],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 14.645640286464513, "stroke": true, "weight": 3}
            ).addTo(map_a65595d0ec3c4f0281cd0135a963b433);
        
    
            var regular_polygon_marker_083f9f477f4449f1b28d35e73a5ae750 = new L.RegularPolygonMarker(
                [28.575965949999997, 77.2158206],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 14.645640286464513, "stroke": true, "weight": 3}
            ).addTo(map_a65595d0ec3c4f0281cd0135a963b433);
        
    
            var regular_polygon_marker_39ed5ae1ebd043239b627b69f5bb952a = new L.RegularPolygonMarker(
                [28.562482666666664, 77.27422256666667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 14.645640286464513, "stroke": true, "weight": 3}
            ).addTo(map_a65595d0ec3c4f0281cd0135a963b433);
        
    
            var regular_polygon_marker_4b694e2d57ec4d86b911aab3d05137e1 = new L.RegularPolygonMarker(
                [28.54899938333333, 77.33262453333333],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 14.645640286464513, "stroke": true, "weight": 3}
            ).addTo(map_a65595d0ec3c4f0281cd0135a963b433);
        
</script>