<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e15081959b1846a2add9ad4e39c12cc8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_e15081959b1846a2add9ad4e39c12cc8" ></div>
        
</body>
<script>    
    
            var map_e15081959b1846a2add9ad4e39c12cc8 = L.map(
                "map_e15081959b1846a2add9ad4e39c12cc8",
                {
                    center: [28.630349, 77.3058169],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8c5e39846ba1445ebcec5c83a6933db1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e15081959b1846a2add9ad4e39c12cc8);
        
    
            var marker_b4206551fe58433eb3552eeb20ced859 = L.marker(
                [28.630349, 77.3058169],
                {}
            ).addTo(map_e15081959b1846a2add9ad4e39c12cc8);
        
    
            var icon_c34bc6450acd4214928bfa2c04510fb2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b4206551fe58433eb3552eeb20ced859.setIcon(icon_c34bc6450acd4214928bfa2c04510fb2);
        
    
        var popup_2de1cac0b2d8427f9664eafd838b11c2 = L.popup({"maxWidth": "100%"});

        
            var html_7e713e1ed623466e9e557e0d1562801d = $(`<div id="html_7e713e1ed623466e9e557e0d1562801d" style="width: 100.0%; height: 100.0%;">58, IP Ext, I.P.Extension, Patparganj, Delhi, 110092, India</div>`)[0];
            popup_2de1cac0b2d8427f9664eafd838b11c2.setContent(html_7e713e1ed623466e9e557e0d1562801d);
        

        marker_b4206551fe58433eb3552eeb20ced859.bindPopup(popup_2de1cac0b2d8427f9664eafd838b11c2)
        ;

        
    
    
            var marker_246ab3cc6f074e0fa20160c11c1987fe = L.marker(
                [28.6164158, 77.04061469999999],
                {}
            ).addTo(map_e15081959b1846a2add9ad4e39c12cc8);
        
    
            var icon_abbb878ed93e448199e4ee3bdd540a94 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_246ab3cc6f074e0fa20160c11c1987fe.setIcon(icon_abbb878ed93e448199e4ee3bdd540a94);
        
    
        var popup_8005bca5b81247aea4a3ce8f40e67320 = L.popup({"maxWidth": "100%"});

        
            var html_a07a8c43ca01495280050a14cae1102a = $(`<div id="html_a07a8c43ca01495280050a14cae1102a" style="width: 100.0%; height: 100.0%;">Mansa Ram Park, Uttam Nagar, Delhi, India</div>`)[0];
            popup_8005bca5b81247aea4a3ce8f40e67320.setContent(html_a07a8c43ca01495280050a14cae1102a);
        

        marker_246ab3cc6f074e0fa20160c11c1987fe.bindPopup(popup_8005bca5b81247aea4a3ce8f40e67320)
        ;

        
    
    
            var poly_line_188f2db9ee58477a8f243e627260053c = L.polyline(
                [[28.630349, 77.3058169], [28.6164158, 77.04061469999999]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_e15081959b1846a2add9ad4e39c12cc8);
        
    
            var regular_polygon_marker_d708159eb70343cbb698d56b3f59956c = new L.RegularPolygonMarker(
                [28.6280268, 77.26161653333332],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 176.63830326403365, "stroke": true, "weight": 3}
            ).addTo(map_e15081959b1846a2add9ad4e39c12cc8);
        
    
            var regular_polygon_marker_6fa19e0394b14ed594cf1df716e27dd9 = new L.RegularPolygonMarker(
                [28.6257046, 77.21741616666667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 176.63830326403365, "stroke": true, "weight": 3}
            ).addTo(map_e15081959b1846a2add9ad4e39c12cc8);
        
    
            var regular_polygon_marker_d0f0ddd8bf704d09ba3420d455519f86 = new L.RegularPolygonMarker(
                [28.623382399999997, 77.1732158],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 176.63830326403365, "stroke": true, "weight": 3}
            ).addTo(map_e15081959b1846a2add9ad4e39c12cc8);
        
    
            var regular_polygon_marker_52f6e934334c413ab0d190e6b3f8552f = new L.RegularPolygonMarker(
                [28.6210602, 77.12901543333332],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 176.63830326403365, "stroke": true, "weight": 3}
            ).addTo(map_e15081959b1846a2add9ad4e39c12cc8);
        
    
            var regular_polygon_marker_776d6135b18341b5adb6df82dc545600 = new L.RegularPolygonMarker(
                [28.618738, 77.08481506666666],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 176.63830326403365, "stroke": true, "weight": 3}
            ).addTo(map_e15081959b1846a2add9ad4e39c12cc8);
        
</script>